In [24]:
import numpy as np
import pandas as pd
import requests
pd.set_option('display.max_columns', 50)
path_data= r'../data/raw/csv_files/train/train_'
# train_base= pd.read_csv(path_data + 'base.csv')
# train_appl_1_0 = pd.read_csv(path_data + 'applprev_1_0.csv')
# train_appl_1_1 = pd.read_csv(path_data + 'applprev_1_1.csv')
# train_appl_2 = pd.read_csv(path_data + 'applprev_2.csv')
# train_cb_a_1_0 = pd.read_csv(path_data + 'credit_bureau_a_1_0.csv')
# train_cb_a_1_1 = pd.read_csv(path_data + 'credit_bureau_a_1_1.csv')
# train_cb_a_1_2 = pd.read_csv(path_data + 'credit_bureau_a_1_2.csv')
# train_cb_a_2_0 = pd.read_csv(path_data + 'credit_bureau_a_2_0.csv')
# train_cb_a_2_1 = pd.read_csv(path_data + 'credit_bureau_a_2_1.csv')
# train_cb_a_2_2 = pd.read_csv(path_data + 'credit_bureau_a_2_2.csv')

# train_cb_b_1 = pd.read_csv(path_data + 'credit_bureau_b_1.csv')
# train_cb_b_2 = pd.read_csv(path_data + 'credit_bureau_b_1.csv')
# train_debit_1 = pd.read_csv(path_data + 'debitcard_1.csv')
# train_deposit_1 = pd.read_csv(path_data + 'deposit_1.csv')
# train_other_1 = pd.read_csv(path_data + 'other_1.csv')
train_static_0_0 = pd.read_csv(path_data + 'static_0_0.csv')
train_static_0_1 = pd.read_csv(path_data + 'static_0_1.csv')
train_static_cb_0 = pd.read_csv(path_data + 'static_cb_0.csv')
# train_tax_registry_a_1 = pd.read_csv(path_data + 'tax_registry_a_1.csv')
# train_tax_registry_b_1 = pd.read_csv(path_data + 'tax_registry_b_1.csv')
# train_tax_registry_c_1 = pd.read_csv(path_data + 'tax_registry_c_1.csv')

In [26]:
train_base.dtypes
# what is month?

/var/folders/yc/_wvbwvdd08jb7501j7yr1mqr0000gn/T/ipykernel_30930/1773641408.py:2: DtypeWarning: Columns (20,45,46,53,57,84,143,146,167) have mixed types. Specify dtype option on import or set low_memory=False.
  train_static_0_0 = pd.read_csv(path_data + 'static_0_0.csv')

In [28]:
train_static_0_0.head()

,case_id,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,applications30d_658L,applicationscnt_1086L,applicationscnt_464L,applicationscnt_629L,...,sellerplacecnt_915L,sellerplacescnt_216L,sumoutstandtotal_3546847A,sumoutstandtotalest_4493215A,totaldebt_9A,totalsettled_863A,totinstallast1m_4525188A,twobodfilling_608L,typesuite_864L,validfrom_1069D
0,0,NaN,NaN,1917.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,BO,NaN,NaN
1,1,NaN,NaN,3134.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,BO,NaN,NaN
2,2,NaN,NaN,4937.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,BO,AL,NaN
3,3,NaN,NaN,4643.6,0.0,0.0,1.0,0.0,2.0,0.0,...,1.0,1.0,NaN,NaN,0.0,0.0,NaN,BO,AL,NaN
4,4,NaN,NaN,3390.2,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,0.0,0.0,NaN,BO,AL,NaN

In [56]:
train_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526659 entries, 0 to 1526658
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   case_id        1526659 non-null  int64
 1   date_decision  1526659 non-null  object
 2   MONTH          1526659 non-null  int64
 3   WEEK_NUM       1526659 non-null  int64
 4   target         1526659 non-null  int64
dtypes: int64(4), object(1)
memory usage: 58.2+ MB

In [64]:
train_appl_1_0.head()

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,credacc_maxhisbal_375A,credacc_minhisbal_90A,credacc_status_367L,credacc_transactions_402L,credamount_590A,credtype_587L,currdebt_94A,dateactivated_425D,district_544M,downpmt_134A,dtlastpmt_581D,dtlastpmtallstes_3545839D,education_1138M,employedfrom_700D,familystate_726L,firstnonzeroinstldate_307D,inittransactioncode_279L,isbidproduct_390L,isdebitcard_527L,mainoccupationinc_437A,maxdpdtolerance_577P,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,2,0.0,640.2,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,NaN,NaN,NaN,NaN,10000.0,CAL,NaN,NaN,P136_108_173,0.0,NaN,NaN,P97_36_170,2010-02-15,SINGLE,2013-05-04,CASH,False,NaN,8200.0,NaN,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0
1,2,0.0,1682.4,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,NaN,NaN,NaN,NaN,16000.0,CAL,NaN,NaN,P136_108_173,0.0,NaN,NaN,P97_36_170,2010-02-15,SINGLE,2013-05-04,CASH,False,NaN,8200.0,NaN,1,NaN,12.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,12.0
2,3,0.0,6140.0,NaN,NaN,P94_109_143,NaN,2019-01-07,NaN,0.0,NaN,NaN,NaN,NaN,59999.8,CAL,NaN,NaN,P131_33_167,0.0,NaN,NaN,P97_36_170,2018-05-15,MARRIED,2019-02-07,CASH,False,NaN,11000.0,NaN,0,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0
3,4,0.0,2556.6,NaN,NaN,P24_27_36,NaN,2019-01-08,NaN,0.0,NaN,NaN,NaN,NaN,40000.0,CAL,NaN,NaN,P194_82_174,0.0,NaN,NaN,a55475b1,NaN,NaN,2019-02-08,CASH,False,NaN,16000.0,NaN,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0
4,5,0.0,NaN,NaN,NaN,P85_114_140,NaN,2019-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P54_133_26,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,False,NaN,62000.0,NaN,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,NaN

In [65]:
train_appl_1_1.head()

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,credacc_maxhisbal_375A,credacc_minhisbal_90A,credacc_status_367L,credacc_transactions_402L,credamount_590A,credtype_587L,currdebt_94A,dateactivated_425D,district_544M,downpmt_134A,dtlastpmt_581D,dtlastpmtallstes_3545839D,education_1138M,employedfrom_700D,familystate_726L,firstnonzeroinstldate_307D,inittransactioncode_279L,isbidproduct_390L,isdebitcard_527L,mainoccupationinc_437A,maxdpdtolerance_577P,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,40704,0.0,7204.6000,NaN,NaN,P94_109_143,NaN,2018-11-20,NaN,0.0,NaN,NaN,NaN,NaN,54000.0,CAL,NaN,NaN,P147_6_101,0.0,NaN,NaN,a55475b1,NaN,NaN,2018-12-20,CASH,False,NaN,40000.0,NaN,0,NaN,12.0,P46_145_78,a55475b1,P198_131_9,P94_109_143,NaN,D,12.0
1,40734,0.0,3870.2000,NaN,NaN,P94_109_143,NaN,2019-12-26,NaN,0.0,NaN,NaN,NaN,NaN,50000.0,CAL,NaN,NaN,P111_148_100,0.0,NaN,NaN,a55475b1,NaN,NaN,2020-01-26,CASH,False,NaN,50000.0,NaN,0,NaN,18.0,P149_40_170,a55475b1,P45_84_106,P94_109_143,NaN,D,18.0
2,40737,0.0,2324.4001,NaN,1.0,a55475b1,0.0,2014-07-17,NaN,0.0,NaN,NaN,NaN,NaN,30000.0,CAL,0.0,NaN,a55475b1,0.0,NaN,NaN,P97_36_170,2014-01-15,MARRIED,2014-08-17,CASH,False,NaN,16000.0,NaN,0,0.0,18.0,P46_145_78,a55475b1,a55475b1,a55475b1,NaN,D,18.0
3,40791,0.0,2320.8000,NaN,1.0,a55475b1,0.0,2014-12-28,NaN,0.0,NaN,NaN,NaN,NaN,27830.0,COL,0.0,NaN,a55475b1,0.0,NaN,NaN,P97_36_170,2013-04-15,SINGLE,2015-01-28,POS,False,NaN,16000.0,NaN,1,0.0,12.0,P60_146_156,a55475b1,a55475b1,a55475b1,NaN,D,12.0
4,40791,0.0,2541.2000,NaN,1.0,a55475b1,0.0,2014-12-28,NaN,0.0,NaN,NaN,NaN,NaN,58239.8,COL,0.0,NaN,a55475b1,0.0,NaN,NaN,P97_36_170,2013-04-15,SINGLE,2015-01-28,POS,False,NaN,22000.0,NaN,2,0.0,24.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,D,24.0

In [63]:
train_appl_2.head()

,case_id,cacccardblochreas_147M,conts_type_509L,credacc_cards_status_52L,num_group1,num_group2
0,2,NaN,PRIMARY_MOBILE,NaN,0,0
1,2,NaN,EMPLOYMENT_PHONE,NaN,0,1
2,2,NaN,PRIMARY_MOBILE,NaN,1,0
3,2,NaN,EMPLOYMENT_PHONE,NaN,1,1
4,3,NaN,PHONE,NaN,0,0

In [70]:
train_cb_a_1_0.head()

,case_id,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,contractsum_5085717L,credlmt_230A,credlmt_935A,dateofcredend_289D,dateofcredend_353D,dateofcredstart_181D,dateofcredstart_739D,dateofrealrepmt_138D,debtoutstand_525A,debtoverdue_47A,description_351M,dpdmax_139P,dpdmax_757P,dpdmaxdatemonth_442T,dpdmaxdatemonth_89T,dpdmaxdateyear_596T,dpdmaxdateyear_896T,financialinstitution_382M,...,overdueamountmax2date_1002D,overdueamountmax2date_1142D,overdueamountmax_155A,overdueamountmax_35A,overdueamountmaxdatemonth_284T,overdueamountmaxdatemonth_365T,overdueamountmaxdateyear_2T,overdueamountmaxdateyear_994T,periodicityofpmts_1102L,periodicityofpmts_837L,prolongationcount_1120L,prolongationcount_599L,purposeofcred_426M,purposeofcred_874M,refreshdate_3813885D,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
0,388,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,NaN,NaN,135806.0,2020-08-06,NaN,NaN,2018-08-06,NaN,NaN,NaN,a55475b1,0.0,NaN,NaN,8.0,2018.0,NaN,a55475b1,...,NaN,NaN,0.0,NaN,NaN,8.0,2018.0,NaN,NaN,NaN,NaN,NaN,60c73645,a55475b1,NaN,NaN,114325.805,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1,388,NaN,NaN,4408ff0f,a55475b1,7241344e,a55475b1,NaN,NaN,NaN,2023-06-20,NaN,NaN,2018-06-20,NaN,374419.5,0.0,a55475b1,0.0,NaN,NaN,7.0,2018.0,NaN,a55475b1,...,NaN,NaN,0.0,NaN,NaN,7.0,2018.0,NaN,NaN,30.0,NaN,NaN,96a8fdfe,a55475b1,NaN,NaN,NaN,ab3c25cf,ab3c25cf,NaN,268897.62,0.0,0.0,374419.5,0.0
2,388,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,a55475b1,2019-01-28,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
3,388,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,a55475b1,2019-01-28,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
4,388,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,a55475b1,2019-01-28,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
train_cb_a_1_1.head()

,case_id,annualeffectiverate_199L,annualeffectiverate_63L,classificationofcontr_13M,classificationofcontr_400M,contractst_545M,contractst_964M,contractsum_5085717L,credlmt_230A,credlmt_935A,dateofcredend_289D,dateofcredend_353D,dateofcredstart_181D,dateofcredstart_739D,dateofrealrepmt_138D,debtoutstand_525A,debtoverdue_47A,description_351M,dpdmax_139P,dpdmax_757P,dpdmaxdatemonth_442T,dpdmaxdatemonth_89T,dpdmaxdateyear_596T,dpdmaxdateyear_896T,financialinstitution_382M,...,overdueamountmax2date_1002D,overdueamountmax2date_1142D,overdueamountmax_155A,overdueamountmax_35A,overdueamountmaxdatemonth_284T,overdueamountmaxdatemonth_365T,overdueamountmaxdateyear_2T,overdueamountmaxdateyear_994T,periodicityofpmts_1102L,periodicityofpmts_837L,prolongationcount_1120L,prolongationcount_599L,purposeofcred_426M,purposeofcred_874M,refreshdate_3813885D,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
0,19694,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,NaN,NaN,0.0,2020-09-29,NaN,NaN,2014-09-29,NaN,43315.26,0.0,a55475b1,20.0,NaN,NaN,12.0,2017.0,NaN,a55475b1,...,NaN,2018-03-31,2967.666,NaN,NaN,4.0,2018.0,NaN,NaN,NaN,NaN,NaN,60c73645,a55475b1,NaN,NaN,0.0,ab3c25cf,ab3c25cf,NaN,NaN,0.0,0.0,43315.26,0.0
1,19694,NaN,NaN,ea6782cc,a55475b1,7241344e,a55475b1,NaN,NaN,NaN,2020-04-14,NaN,NaN,2016-04-14,NaN,NaN,NaN,a55475b1,19.0,NaN,NaN,3.0,2018.0,NaN,a55475b1,...,NaN,2017-01-19,5061.540,NaN,NaN,10.0,2017.0,NaN,NaN,30.0,NaN,NaN,96a8fdfe,a55475b1,NaN,NaN,NaN,a55475b1,a55475b1,NaN,170000.0,NaN,NaN,NaN,NaN
2,19694,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,a55475b1,2019-07-10,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
3,19694,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,a55475b1,2019-07-10,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
4,19694,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a55475b1,a55475b1,2019-07-10,NaN,NaN,a55475b1,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
train_cb_a_2_1.tail()

,case_id,collater_typofvalofguarant_298M,collater_typofvalofguarant_407M,collater_valueofguarantee_1124L,collater_valueofguarantee_876L,collaterals_typeofguarante_359M,collaterals_typeofguarante_669M,num_group1,num_group2,pmts_dpd_1073P,pmts_dpd_303P,pmts_month_158T,pmts_month_706T,pmts_overdue_1140A,pmts_overdue_1152A,pmts_year_1139T,pmts_year_507T,subjectroles_name_541M,subjectroles_name_838M
7861804,2570525,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,7,NaN,NaN,9.0,NaN,NaN,NaN,2019.0,NaN,a55475b1,a55475b1
7861805,2570525,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,8,NaN,NaN,10.0,NaN,NaN,NaN,2019.0,NaN,a55475b1,a55475b1
7861806,2570525,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,9,NaN,NaN,11.0,NaN,NaN,NaN,2019.0,NaN,a55475b1,a55475b1
7861807,2570525,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,10,NaN,NaN,12.0,NaN,NaN,NaN,2019.0,NaN,a55475b1,a55475b1
7861808,2570525,a55475b1,a55475b1,NaN,NaN,a55475b1,a55475b1,0,11,NaN,NaN,1.0,NaN,NaN,NaN,2020.0,NaN,a55475b1,a55475b1

In [3]:
train_static_0_0.head()

NameError: name 'train_static_0_0' is not defined

In [7]:
train_static_0_0['case_id']

NameError: name 'train_static_0_0' is not defined